.choose-side-container {
    padding: 40px 0 0 0;
}

.title {
    display: block;
    margin: 0 auto 30px auto;
    width: fit-content;
}

.choice-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.side-img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.side-buttons {
    display: flex;
    column-gap: 20px;
}

.start-button {
    display: block;
    margin: 30px auto 0 auto;
    width: fit-content;
}