.text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    display: inline;
    color: var(--white);
    margin: 0;
}

.blue {
    color: var(--intro-blue);
}

.yellow {
    color: var(--principal);
}