.home-container {
    padding: 20px 0 0 0;
}

@media (min-width: 380px) {
    .home-container {
        padding: 40px 0 0 0;
    }
}

@media (orientation: landscape) {
    .home-container {
      padding: 0 0 20px 0;
    }
}

.buttons-container {
    max-width: 299px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 50px auto 70px auto;
}

@media (orientation: landscape) {
    .buttons-container {
        margin: 20px auto 20px auto;
      padding: 0;
    }
}

.deathstar {
    cursor: pointer;
}

.sable {
    cursor: pointer;
}

.decoration-container {
    max-width: 350px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
}
