.moves-page-container {
    padding: 40px 0 0 0;
}

@media (min-width: 1340px) {
    .moves-page-container {
        max-width: 1280px;
        position: relative;
        margin: 0 auto;
    }
}

.moves-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 70px auto 0 auto;
    align-items: center;
    row-gap: 70px;
}

.status-bar {
    margin: 0 0px 0 auto;
    max-width: 300px;
    position: absolute;
    width: 100%;
    left: 100%;
    right: 5px;
    top: 5px;
}

.computer-move-container {
    position: relative;
    animation: slideComputer 2s both;

}

@keyframes slideComputer {
    0% {
        left: -300px;
        transform: scale(0);
    }
    100% {
        left: 0px;
        transform: scale(1.5);
    }
}

.user-move-container {
    position: relative;
    animation: slideUser 2s both;

}

@keyframes slideUser {
    0% {
        right: -300px;
        transform: scale(0);
    }
    100% {
        right: 0px;
        transform: scale(1.5);
    }
}

.continue-button {
    margin: 40px auto 0 auto;
}

